#top, #bottom, #left, #right {
  /*background: #d2f0ec;*/
  /*background: #485f77;*/
  background: #eaabf2;
  /*background: black;*/
  position: fixed;
  }

#left, #right {
  top: 0; bottom: 0;
  width: 10px;
  }
  #left { left: 0; }
  #right { right: 0; }

#top, #bottom {
  left: 0; right: 0;
  height: 10px;
  }
  #top { top: 0; }
  #bottom { bottom: 0; }

@media
/* Fairly small screens including iphones */
only screen and (max-width: 500px),

/* iPads */
only screen and (min-device-width: 768px) and (max-device-width: 1024px)

{
  #top, #bottom, #left, #right { display: none; }
}

body {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Vollkorn', serif;
}

hr {
  border-top: 2px solid #eee;
  margin-top: 0px;
  margin-bottom: 20px;
}


a {
  /*color: #ff3b89;*/
  color: black;
  padding: 5px;
  /*border: 1px solid black;*/
}

a:hover {
  color: black;
}

table {
  text-align: left;
}

form {
  text-align: left;
}

label {
  margin-top: 5px;
}

/* HEADER */
.nameDisplay {
  padding-top: 45px;
  top: 0;
  text-align: center;
}

#name {
  font-size: 24px;
  text-align: center;
  margin-top: -10px;
  margin-bottom: -3px;
  padding-bottom: 25px;
}

.navbar {
  text-align: center;
  margin: 0 auto;
}

.toc {
  margin-bottom: 5px;
  margin-left: 20px;
  margin-right: 20px;
}

#makeup {
  height: 70px;
  width: 70px;
  text-align: center;
  margin-left: 20px;
  margin-right: 20px;
  /*border: 2px solid #485f77;*/
}

/* END OF HEADER*/

/* BEGINNING OF BODY CONTENT*/
.body {
  padding-top: 18px;
}

.title {
  /*text-align: center;*/
  font-size: 32px;
}

/* TABLE OF CONTENTS */
.content {
  font-size: 13px;
  text-align: center;
  padding: 10px 10px 10px 10px;
  margin-bottom: 20px;
}

.band {
  padding-bottom: 10px;
}

.carousel-inner>.item>img, .carousel-inner>.item>a>img {
  padding-top: 15px;
}

.right {
  margin-right: 0;
}

/* SECTION STYLING */

.center {
  text-align: center;
}

/* CAROUSEL STYLING */
.item {
  display: block;
  position: absolute;
  overflow: hidden;
}

.banner_image {
    background-size:cover;
    background-attachment: fixed;
    background-position: bottom;
}
/* end of carousel*/


/* FORM STYLING*/
.input {
  width: 100%;
  font-size: 13px;
}

.emails {
  margin-left: 20px;
}


